@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-link {
    @apply transition-colors;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

button {
  cursor: pointer !important;
}

.logo {
  color: var(--accent-10);
}